<div class="transfer-form">
  <mat-form-field>
    <mat-label>Valor a transferir</mat-label>
    <input
      matInput
      currencyMask
      [formControl]="valueFormControl"
      [options]="{ prefix: 'R$', thousands: '.', decimal: ',' }"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Conta de destino</mat-label>
    <input
      matInput
      [formControl]="accountNumberFormControl"
    />
  </mat-form-field>
  <button [disabled]="(valueFormControl.value ?? 0) <= 0" mat-raised-button (click)="transfer()">Transferir</button>
</div>
