.profile-title {
  padding-left: 16px;
  padding-top: 16px;
  font-size: 24px;
  font-weight: 600;
}

.profile {
  padding: 16px;
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.button-group {
  display: flex;
  gap: 8px;
  margin-top: 8px;
}
