.statement-dates-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  mat-form-field {
    width: 80%;
  }
}

.red-row {
  color: #ee4444 !important;
}

.blue-row {
  color: #1f558f !important;
}
