<div class="statement-dates-container">
  <mat-form-field>
    <mat-label>Selecione um intervalo de tempo</mat-label>
    <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
      <input matStartDate formControlName="start" placeholder="Data Inicial">
      <input matEndDate formControlName="end" placeholder="Data Final">
    </mat-date-range-input>
    <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>

    @if (range.controls.start.hasError('matStartDateInvalid')) {
      <mat-error>Data inicial inválida</mat-error>
    }
    @if (range.controls.end.hasError('matEndDateInvalid')) {
      <mat-error>Data final inválida</mat-error>
    }
  </mat-form-field>
</div>
<!--['DATE_TIME', 'OPERATION', 'ORIGIN', 'DESTINATION', 'VALUE']-->
<section class="example-container mat-elevation-z8" tabindex="0">
  @for (table of tables; track table) {
    <mat-table [dataSource]="table.operations">
      <ng-container matColumnDef="DATE_TIME">
        <mat-header-cell *matHeaderCellDef> {{table.date | date}} </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.dateTime | date: 'HH:mm:ss'}} </mat-cell>
        <mat-footer-cell *matFooterCellDef> Position Footer </mat-footer-cell>
      </ng-container>

      <ng-container matColumnDef="OPERATION">
        <mat-header-cell *matHeaderCellDef> Operação </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.operation}} </mat-cell>
        <mat-footer-cell *matFooterCellDef> Name Footer </mat-footer-cell>
      </ng-container>

      <ng-container matColumnDef="ORIGIN">
        <mat-header-cell *matHeaderCellDef> Origem </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.origin}} </mat-cell>
        <mat-footer-cell *matFooterCellDef> Weight Footer </mat-footer-cell>
      </ng-container>

      <ng-container matColumnDef="DESTINATION">
        <mat-header-cell *matHeaderCellDef> Destino </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.destination}} </mat-cell>
        <mat-footer-cell *matFooterCellDef> Symbol Footer </mat-footer-cell>
      </ng-container>

      <ng-container matColumnDef="VALUE">
        <mat-header-cell *matHeaderCellDef> Valor </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.value | currency: 'BRL'}} </mat-cell>
        <mat-footer-cell *matFooterCellDef> Symbol Footer </mat-footer-cell>
      </ng-container>

      <ng-container matColumnDef="SUM">
        <mat-header-cell *matHeaderCellDef> Consolidado: {{table.total | currency: 'BRL'}} </mat-header-cell>
        <mat-cell *matCellDef="let element"></mat-cell>
        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns;"></mat-header-row>

      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

<!--      <mat-footer-row *matFooterRowDef="displayedColumns;"></mat-footer-row>-->
    </mat-table>
  }
</section>
