.statement-dates-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  mat-form-field {
    width: 80%;
  }
}

.red-row {
  color: #ee4444 !important;
}

.blue-row {
  color: #1f558f !important;
}

.statement-actions {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
}

.statement-summary {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  margin: 16px 0;
  font-size: 14px;
}
