.manager-form-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
}

.manager-save-cancel {
  gap: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}
